/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
  
  .members{
    height: 1800px;
  }

  .two-columns{
    width: 500px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  footer {
    text-align: center;
    height: 70px;
  }
  
  .left-footer p{
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
  }
	
  .right-footer{
    float: right;
  }
	
  .right-footer li{
    font-size: 14px;
  }
  
  .btn {
    width: 100%;
  }
  
  input,textarea,select {
	width:100%;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  /* Tambahkan CSS untuk header-right */
  .header-right {
    display: none;
  }
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
	
  .quotes{
    font-size: 12px;
  }
}
